name: Build main.cpp

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install clang-tidy
        run: sudo apt-get update && sudo apt-get install -y clang-tidy 

      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format

      #- name: Run clang-tidy
      #  run: clang-tidy main.cpp -- -std=c++17

      #- name: Run clang-format check
      #  run: clang-format --dry-run --Werror main.cpp

      - name: Compile main.cpp
        run: g++ -Wall main.cpp -o main

      - name: Run compiled binary
        run: ./main

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: main-binary
          path: main
